<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create Recipe</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"
	th:href="@{/webjars/jquery/3.3.1-1/css/jquery-3.3.1.min.js}"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-9 col-md-offset-3">
				<form th:object="${recipe}" th:action="@{/recipe/}" method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="card card-primary">
						<div class="card-header">
							<h1 class="card-title">Edit the information</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-3 form-group">
									<label for="description">Recipe Description:</label> <input
										type="text" class="form-control" id="description"
										th:field="*{description}" />
								</div>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-md-9 form-group">
								<label>Categories:</label>
							</div>
							<div class="col-md-9 form-group">
								<div class="radio">
									<label> <input type="checkbox" value="" /> Cat1
									</label>
								</div>
								<div class="radio" th:remove="all">
									<label> <input type="checkbox" value="" /> Cat2
									</label>
								</div>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-md-3 form-group">
								<label>Prep Time:</label> <input type="text"
									class="form-control" th:field="*{prepTime}">
							</div>
							<div class="col-md-3 form-group">
								<label>Cook Time:</label> <input type="text"
									class="form-control" th:field="*{cookTime}">
							</div>
							<div class="col-md-3 form-group">
								<label for="difficulty">Example multiple select</label> <select
									class="form-control" id="difficulty" th:field="*{difficulty}">
									<option th:each="difficultyValue:${T(recipe.spring.pkg.domain.Difficulty).values()}"
											th:value="${difficultyValue.name()}"
											th:text="${difficultyValue.name()}">val</option>
								</select>
							</div>
						</div>
						<div class="row justify-content-md-center">
							<div class="col-md-3 form-group">
								<label>Servings:</label> <input type="text" class="form-control"
									th:field="*{servings}">
							</div>
							<div class="col-md-3 form-group">
								<label>Source:</label> <input type="text" class="form-control"
									th:field="*{source}">
							</div>
							<div class="col-md-3 form-group">
								<label>URL:</label> <input type="text" class="form-control"
									th:field="*{url}">
							</div>
						</div>
					</div>
					<div class="card card-primary">
						<div class="card-header">
							<h1 class="card-title">Ingredients</h1>
						</div>
						<div class="col-md-1">
							<a class="btn btn-secondary" href="#" role="button">Edit</a>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<ul>
										<li th:remove="all">1 Cup of milk</li>
										<li th:remove="all">1 Teaspoon of chocolate</li>
										<li th:remove="all">2 Bread Loaf's</li>
										<li th:each="ingredient : ${recipe.ingredients}"
											th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1
											Teaspoon of Sugar</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-primary">
						<div class="card-header">
							<h1 class="card-title">Directions</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12 form-group">
									<textarea class="form-control" rows="3"
										th:field="*{directions}"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="card card-primary">
						<div class="card-header">
							<h1 class="card-title">Notes</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-12 form-group">
									<textarea class="form-control" rows="3"
										th:field="*{notes.recipeNotes}"></textarea>
								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>